#id1:hover{
   border: 5px solid yellowgreen;
   border-radius: 100%;
}
#id2:hover{
    width: 350px;
    height: 350px;
    border: 5px solid salmon;
}
#id3:hover{
    display: none;
}
img{
   border: 2px solid red; 
   padding: 20px;
   margin: 20px;
   border-radius: 20px;
}